<aside class="left-sidebar with-vertical" th:fragment="side_bar">
           <div><!-- ---------------------------------- -->
               <!-- Start Vertical Layout Sidebar -->
               <!-- ---------------------------------- -->
               <!-- Sidebar scroll-->
               <nav class="sidebar-nav scroll-sidebar" data-simplebar>
                   <ul id="sidebarnav">
                       <!-----------Profile------------------>
                       
                       <!-- ---------------------------------- -->
                       <!-- Home -->
                       <!-- ---------------------------------- -->
       
                       <li class="sidebar-item mt-4">
                           <a class="sidebar-link" th:href="@{/student/}" id="get-url">
                               <i class="fa-solid fa-list" style="font-size: 22px;"></i>
                               <span class="hide-menu">Dashboard</span>
                           </a>
                       </li>
                       <li class="nav-small-cap">
                           <iconify-icon icon="solar:menu-dots-bold" class="nav-small-cap-icon fs-4"></iconify-icon>
                           <span class="hide-menu">Student</span>
                       </li>
       
                       <li class="sidebar-item">
                           <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                               <div class="d-flex">
                                   <i class="fa-solid fa-user" style="font-size: 16px;"></i>    
                                 </div>
                               <span class="hide-menu">Profile</span>
                           </a>
                           <ul aria-expanded="false" class="collapse first-level">
                               <li class="sidebar-item">
                                   <a th:href="@{/student/personal_details}" class="sidebar-link sublink">

                                       <div class="round-16 d-flex align-items-center justify-content-center">
                                           <i class="fa-solid fa-address-card"  style="font-size: 16px;" ></i>                    
                                         </div>
                                       <span class="hide-menu">Personal Details</span>
                                   </a>
                               </li>
                               

                               <li class="sidebar-item">
                                   <a th:href="@{/student/address}" class="sidebar-link sublink">
                                   
                                       <div class="round-16 d-flex align-items-center justify-content-center">
                                           <i class="fa-solid fa-location-dot" aria-hidden="true"  style="font-size: 16px;"></i>
                                       </div>
                                       <span class="hide-menu">Address</span>
                                   </a>
                                   

                               </li>
       
                               <li class="sidebar-item">
                                  <a th:href="@{/student/academic_details}" class="sidebar-link sublink">

                                       <div class="round-16 d-flex align-items-center justify-content-center">
                                           <i class="fa-solid fa-graduation-cap"  style="font-size: 16px;" ></i>
                                                          
                                         </div>
                                       <span class="hide-menu">Academic Details</span>
                                   </a>
                               </li>

                               <li class="sidebar-item">
                                 <a th:href="@{/student/photo_sign}" class="sidebar-link sublink">

                                       <div class="round-16 d-flex align-items-center justify-content-center">
                                           <i class="fa-solid fa-file-image" style="font-size:16px"></i>                    
                                         </div>
                                       <span class="hide-menu">Photo & Sign</span>
                                   </a>
                               </li>
       
                           </ul>
                       </li>

                       
       
                       <li class="nav-small-cap">
                           <iconify-icon icon="solar:menu-dots-bold" class="nav-small-cap-icon fs-4"></iconify-icon>
                           <span class="hide-menu">Certificate</span>
                       </li>

                       <li class="sidebar-item">
                           <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                               <div class="d-flex">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 48 48"><g fill="#fafafa"><path fill-rule="evenodd" d="M10 7v30a3 3 0 0 0 3 3h13v-3.535a4 4 0 1 1 4 0V40h5a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3H13a3 3 0 0 0-3 3m18 28a2 2 0 1 0 0-4a2 2 0 0 0 0 4M18 11a1 1 0 0 1 1-1h10a1 1 0 1 1 0 2H19a1 1 0 0 1-1-1m-3 5a1 1 0 1 0 0 2h18a1 1 0 1 0 0-2zm-1 5a1 1 0 0 1 1-1h18a1 1 0 1 1 0 2H15a1 1 0 0 1-1-1m1 3a1 1 0 1 0 0 2h18a1 1 0 1 0 0-2z" clip-rule="evenodd"/><path d="M26 44v-4h4v4l-2-1.5z"/></g></svg>
                                 </div>
                               <span class="hide-menu">My Certificate</span>
                           </a>
                           <ul aria-expanded="false" class="collapse first-level">


                               <li class="sidebar-item">
                                   <a th:href="@{/student/request_certificate}" class="sidebar-link sublink">
                                       <div class="round-16 d-flex align-items-center justify-content-center">
                                           <i class="fa-solid fa-file-lines" style="font-size: 18px;"></i>
                                         </div>
                                       <span class="hide-menu">Request Certificate</span>
                                   </a>
                               </li>

                               <li class="sidebar-item">
                                   <a th:href="@{/student/certificate_status}" class="sidebar-link sublink">
                                       <div class="round-16 d-flex align-items-center justify-content-center">
                                           <i class="fas fa-check-circle" style="font-size: 18px;"></i>
                                         </div>
                                       <span class="hide-menu">Certificate Status</span>
                                   </a>
                               </li>
       
                               
                              
                           </ul>
                       </li>
       
       
                     
       
       
       
       
       
       
                     
       
       
                   </ul>
               </nav>
       
               <!-- End Sidebar scroll-->
           </div>
       </aside>